<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- link program -->
    <link href="~/Content/HomePage.css" rel="stylesheet" />

    <!-- link higland -->
    <link href="https://www.highlandscoffee.com.vn/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://www.highlandscoffee.com.vn/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css">
    <link href="https://www.highlandscoffee.com.vn/js/jquery_alerts/jquery.alerts.css" rel="stylesheet" type="text/css">
    <link href="https://www.highlandscoffee.com.vn/js/slick/slick.css" type="text/css" rel="stylesheet">
    <link href="https://www.highlandscoffee.com.vn/js/menumobile/menumobile.css" type="text/css" rel="stylesheet">
    <link href="https://www.highlandscoffee.com.vn/skins/default/style/screen.css?v=1.0" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- link slide -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>*@

</head>
<body>

    <div id="vnt-wrapper">
        <div id="vnt-container">

            <!-- header -->
            <div id="vnt-header">
                <div class="wrapper">
                    <div class="logo">                      
                        <a href="~/Views/HomePage/Index.cshtml">
                            <img src="~/Content/images/Logo.png" alt="Logo">
                        </a>                           
                    </div>

                    @*thanh search/ thanh language*@
                    <div class="header-tool">
                        <div class="rowTools">
                            <div class="searchTop hidden-sm hiđen-xs">
                                <form id="formSearch" name="formSearch" method="post" action="#" onsubmit="return check_search(this);" class="box_search">
                                    <input name="keyword" id="keyword" type="text" class="text_search" placeholder="Từ khóa" value="">
                                    <button name="btn-search" type="submit" value=""><img src="https://www.highlandscoffee.com.vn/skins/default/images/i-search.svg" alt="search"></button>
                                    <input name="do_search" value="1" type="hidden">
                                </form>
                            </div>

                            <div class="languageTop">
                                <ul>
                                    <li>
                                        <a href="#"><img src="https://www.highlandscoffee.com.vn/vnt_upload/lang/flag-vn.jpg" alt="VN"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="https://www.highlandscoffee.com.vn/vnt_upload/lang/flag-en.jpg" alt="EN"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        @*thanh menu*@
                        <div class="menuTop hidden-sm hidden-xs">
                            <ul>
                                <li class="menu-list">
                                <a>QUÁN CÀ PHÊ</a></li>

                                <li>
                                    <a><span>THỰC ĐƠN</span></a>
                                    
                                </li>

                                <li class="menu-list"><a><span>TIN TỨC</span></a></li>

                                <li class="menu-list"><a><span>CỘNG ĐỒNG</span></a></li>
                               

                                <li class="menu-list"><a><span>NGHỀ NGHIỆP</span></a></li>

                                <li class="menu-list"><a href="https://localhost:44355/Shopping/Index" target="_blank"><span>MUA NGAY</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <!-- content -->
            <div id="content">
                @RenderBody()
            </div>

            <!-- footer -->
            <div id="vnt-footer">
                <div class="wrapper">
                    <div class="vnt-button hidden-lg hidden-md">
                        <div class="button-wrap">
                            <div class="buttons">
                                <a href="tel:(028) 2.448.907" class="btn-mm">
                                <span >Call now</span>
                                </a>
                            </div>
                            <div class="buttons">
                                <a href="https://www.highlandscoffee.com.vn/vn/he-thong-cua-hang.html" class="btn-mm"><span class="fa-map-marker">VIEW MAP</span></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="copyRight">© 2018 Highlands Coffee. All rights reserved</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
