
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body>
    <div> 
        <p>Thanh Cong</p>
        @*Viet Cho Thanh Toan Thanh Cong*@
        <a href="@Url.Action("Index","Shopping")">Tiep Tuc Mua Sam</a>
    </div>
</body>
</html>
